body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  .transition-button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  
  .transition-button:hover {
    background-color: rgb(75, 248, 75);
  }
  .transition-div {
    width: 100px;
    height: 100px;
    background-color: rgb(246, 92, 92);
    transition: width 1s;
  }
  .transition-div:hover {
    width: 200px;
  }
  .transition-text {
    font-size: 16px;
    transition: font-size 0.3s;
  }
  
  .transition-text:hover {
    font-size: 24px;
  }
  .transition-image {
    width: 200px;
    height: auto;
    transition: opacity 0.8s;
  }
   .transition-image:hover {
    opacity: 0.5;
  }
   .scale-div {
    width: 100px;
    height: 100px;
    background-color: rgb(237, 253, 94);
    transition: transform 0.3s;
  }
  
  .scale-div:hover {
    transform: scale(1.5);
  }
  .scale-image {
    width: 200px;
    height: auto;
    transition: transform 0.3s;
  }
  
  .scale-image:hover {
    transform: scale(0.75);
  }
  .translate-button {
    padding: 10px 20px;
    background-color: rgb(250, 88, 250);
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .translate-button:hover {
    transform: translate(50px, 20px);
  }
  .translate-div {
    width: 100px;
    height: 100px;
    background-color: rgb(89, 243, 89);
    transition: transform 0.3s;
  }
  
  .translate-div:hover {
    transform: translateX(-100px);
  }
  .skew-heading {
    font-size: 24px;
    transition: transform 0.3s;
  }
  
  .skew-heading:hover {
    transform: skewX(20deg);
  }
  .skew-paragraph {
    font-size: 16px;
    transition: transform 0.3s;
  }
  
  .skew-paragraph:hover {
    transform: skewY(15deg);
  }